[Unit]
Description=Telnet service for atom term.
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/home/egeemirozkan24/AtomTerm
ExecStart=/home/egeemirozkan24/AtomTerm/start.sh
Restart=on-failure
RestartSec=30s

[Install]
WantedBy=default.target
